@page "/login"
@using GrpcDemoService
@inject AccountService accSvc
@inject MyGrpcClient client

<PageTitle>登入</PageTitle>

<h3>Login</h3>

@if (f_loading)
{
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>
}

@if (errMsg != null)
{
  <div class="alert alert-danger my-3" role="alert">
    @errMsg
  </div>
}

<button class="btn btn-primary" @onclick=HandleLogin>模擬登入</button>
<button class="btn btn-primary" @onclick=HandleCallSample>Call Sample</button>

<h5 class="pb-1">Authentication</h5>
@if (tokenReply != null)
{
  <table class="table">
    <tbody>
      <tr>
        <td>AccessToken</td>
        <td style="overflow-wrap:anywhere;">@tokenReply?.AccessToken</td>
      </tr>
      <tr>
        <td>ExpiresIn</td>
        <td>@tokenReply?.ExpiresIn</td>
      </tr>
      <tr>
        <td>Auth State</td>
        <td>@authReply?.UserId | @authReply?.UserName | @authReply?.Roles</td>
      </tr>
      <tr>
        <td>Auth State 2</td>
        <td>@authReply?.IssuedAtUtc?.ToDateTime().ToLocalTime() | @authReply?.NotBeforeUtc?.ToDateTime().ToLocalTime() | @authReply?.ExpiresUtc?.ToDateTime().ToLocalTime()</td>
      </tr>
    </tbody>
  </table>
}

<h5 class="pb-1">Sample Reply</h5>
@if (sampleReply != null)
{
  <p>FullName: @sampleReply?.FullName</p>
}

<h5 class="pb-1">Message List</h5>
@if (messageList != null)
{
  <ol>
    @foreach(string message in messageList)
    {
      <li>@message</li>      
    }
  </ol>
}

@code {
  bool f_loading = false;
  string? errMsg = null;

  AuthenticationReply? tokenReply = null;
  AuthStateReply? authReply = null;
  SampleReply? sampleReply = null;

  List<string> messageList = new();

  async Task HandleLogin()
  {
    try
    {
      errMsg = null;
      f_loading = true;
      tokenReply = await accSvc.AuthenticateAsync(new AuthenticationRequest { UserName = "admin", UserPassword = "admin" });
      authReply = await client.GetAuthStateAsync(tokenReply);
    }
    catch (Exception ex)
    {
      errMsg = $"出現例外！{ex.Message}";
    }
    finally
    {
      f_loading = false;
    }
  }

  async Task HandleCallSample()
  {
    try
    {
      sampleReply = null;
      errMsg = null;
      f_loading = true;

      (sampleReply, string msg) = await client.Auth_GetFullNameAsync(
        new SampleRequest { FirstName = $"Smart{DateTime.Now:mm:ss}", LastName = "Hao" }, 
        tokenReply!);

      // for debug
      messageList.Add($"Call sample @{DateTime.Now:HH:mm:ss} → {msg}");

      await Task.Delay(800); // UX

      if (msg != "SUCCESS") errMsg = msg;
    }
    catch (Exception ex)
    {
      errMsg = $"出現例外！{ex.Message}";

      // for debug
      messageList.Add($"Call sample @{DateTime.Now:HH:mm:ss} → {errMsg}");
    }
    finally
    {
      f_loading = false;
    }
  }
}